:root{
    --type-font: Nunito;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* ---------------------------------HEADER ---------------------------------*/
header{
    width: 1440px;
    height: 1130px;
    background: url(../img/background.png) no-repeat;
}

/* --------------------------------- TOP HEADER ---------------------------------*/

.top_header{
    width: 1230px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo > img{
    width: 59px;
    height: 32px;
}

.logo > div{
    width: 80px;
    height: 31px;
    font-family: var(--type-font);
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.top_header_nav > ul{
    display: flex;
    justify-content: space-between;
    width: 502px;
}



.top_header_nav > ul li{
    width: 90px;
    height: 30px;
    border-radius: 4px;
    display: block;
}

.top_header_nav > ul li a{
    color: #FFFFFF;
    font-family: var(--type-font);;
}

/*----------------------------HEADER CONTENT--------------------------*/
.header_content{
    color: #FFFFFF;
    font-family: var(--type-font);;
    font-style: normal;
    width: 1230px;
    margin: 0px auto;
    margin-top: 100px;


}

.header_content h1{
    
    font-weight: 800;
    font-size: 50px;
    line-height: 102px;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
}
.header_content > p{
    width: 655px;
    height: 185px;

    
    font-weight: 600;
    font-size: 36px;
    line-height: 74px;
    letter-spacing: 0.02em;
}