@font-face {
    font-family: Avenir;
    src: url(../font/Avenir.otf); 
   }


:root{
    --type-font: Nunito;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* ---------------------------------HEADER ---------------------------------*/
header{
    width: 1440px;
    height: 1130px;
    background: url(../img/background.png) no-repeat;
}

/* --------------------------------- TOP HEADER ---------------------------------*/

.top_header{
    width: 1230px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo > img{
    width: 59px;
    height: 32px;
}

.logo > div{
    width: 80px;
    height: 31px;
    font-family: var(--type-font);
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.top_header_nav > ul{
    display: flex;
    justify-content: space-between;
    width: 502px;
}


.top_header_nav > ul li a{
    color: #FFFFFF;
    font-family: var(--type-font);
    width: 90px;
    height: 30px;
    border-radius: 4px;
    display: block;
    text-align: center;
    padding-top: 7px;
    box-sizing: border-box;
    transition: 0.8s;
}

.top_header_nav > ul li a:hover{
  
    color: #1B264B;
    background: #FDFFFC;
   
}


/*----------------------------HEADER CONTENT--------------------------*/
.header_content{
    color: #FFFFFF;
    font-family: var(--type-font);
    font-style: normal;
    width: 1230px;
    margin: 0px auto;
    margin-top: 100px;
}

.header_content h1{
    
    font-weight: 800;
    font-size: 50px;
    line-height: 102px;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
}
.header_content > p{
    width: 655px;
    height: 185px;
    font-weight: 600;
    font-size: 36px;
    line-height: 74px;
    letter-spacing: 0.02em;
}

/*----------------------------MAIN CONTENT--------------------------*/


.points_field{
    width: 360px;
    height: 380px;
    background-image: url(../img/point_bg.png);
}

.main_content_top{
    width: 1181px;
    height: 251px;
    margin: 0 auto;
}

.main_content_top h2{
    text-align: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    font-family: var(--type-font);
}

.main_content_top p{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #333333;
    font-family: var(--type-font);
}

/*----------------------------MAIN CONTENT ONE--------------------------*/



.main_content_one{
    display: flex;
    justify-content: space-between;
    height: 550px;
    position: relative;
    padding-top: 110px;
    
}

.content_one_left{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
}

.content_one_right{
    width: 720px;
    padding-top: 30px;
    position: relative;
    
}
.one_left_content{
    height: 300px;
    width: 500px;
}

.content_one-img{
    position: absolute;
    left: 60px;
    bottom: 60px;
}

.one_left-text{
    width: 530px;
    height: 125px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: #076572;

}

.one_left-more{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
 
}
.one_left-more img{
    position: relative;
    width: 22px;
    height: 20px;
    top: 3px;

}

.content_one_right img[src="../pageLanding/img/coins.png"]{
    position: absolute;
    top: 150px;
    left: 230px;
}

/*--------------------------------------------MAIN CONTENT TWO---------------------------------------------*/

.main_content_two{
    height: 645px;
    background: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 137px;
}
.content_two-img{
    position: absolute;
    left: 118px;
    top: 72px;
}

.content_two_left{
    position: relative;
    z-index: 1;
}

.two_right_title{
    width: 552px;
    height: 249px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 68px;
    color: #076572;
    margin-bottom: 20px;
}

.two_right_text{
    width: 519px;
    height: 68px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 40px;
}

/*--------------------------------------------MAIN CONTENT THREE---------------------------------------------*/
.main_content_three{
    height: 640px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 100px;

}
.content_three-img{
    position: absolute;
    left: calc(50% - 180px);
    top: calc(50% - 190px);
}

.content_three_left{
    padding-top: 20px;
}

.three_left_title{
    width: 479px;
    height: 125px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 68px;
    color: #076572;
    margin-bottom: 20px;
}

.three_left_text{
    width: 519px;
    height: 28px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #282D32;
    margin-bottom: 98px;
}





/*----------------------------------------------FOOTER---------------------------------------------*/
footer{
    height: 223px;
    background: #30292F;
}

.footer_box{
    width: 1202px;
    height: 159px;
    margin: 0 auto;
    padding-top: 62px;
    
}
.footer_box_top{
    height: 90px;
    border-bottom: 1px solid rgba(218, 218, 218, 0.43);
    display: flex;
    justify-content: space-between;
}

.box_top_contact a{
    display: block;
    font-family: Avenir;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.footer_box_top p{
    font-family: Avenir;
    width: 345px;
    height: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.box_top_form{
    width: 265px;
}

.box_top_form p{
    font-family: Avenir;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);

}

.box_top_form form input[type="email"]{
    height: 48px;
    width: 178px;
    border: none;
    padding: 14px 19px;
    box-sizing: border-box;
    font-family: Avenir;
    font-size: 14px;
    line-height: 16px;
    color: rgba(62, 61, 61, 0.5);
}

.box_top_form form input[type="submit"]{
    height: 48px;
    width: 80px;
    border: none;
    padding: 0px;
    background: #1768AC;
    border-radius: 3px;
    font-family: Avenir;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    position: relative;
    left: -3px;
}

.footer_box_bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.footer_box_bottom a{
    margin-left: 17px;
    font-family: Avenir;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}

.footer_box_bottom a:first-child{
    margin: 0;
}