@font-face {
    font-family: Avenir;
    src: url(../font/Avenir.otf); 
   }


:root{
    --type-font: Nunito;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* ---------------------------------HEADER ---------------------------------*/
header{
    width: 1440px;
    height: 1130px;
    background: url(../img/background.png) no-repeat;
}

/* --------------------------------- TOP HEADER ---------------------------------*/

.top_header{
    width: 1230px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo > img{
    width: 59px;
    height: 32px;
}

.logo > div{
    width: 80px;
    height: 31px;
    font-family: var(--type-font);
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.top_header_nav > ul{
    display: flex;
    justify-content: space-between;
    width: 502px;
}



.top_header_nav > ul li{
    width: 90px;
    height: 30px;
    border-radius: 4px;
    display: block;
}

.top_header_nav > ul li a{
    color: #FFFFFF;
    font-family: var(--type-font);;
}

/*----------------------------HEADER CONTENT--------------------------*/
.header_content{
    color: #FFFFFF;
    font-family: var(--type-font);
    font-style: normal;
    width: 1230px;
    margin: 0px auto;
    margin-top: 100px;
}

.header_content h1{
    
    font-weight: 800;
    font-size: 50px;
    line-height: 102px;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
}
.header_content > p{
    width: 655px;
    height: 185px;
    font-weight: 600;
    font-size: 36px;
    line-height: 74px;
    letter-spacing: 0.02em;
}

/*----------------------------MAIN CONTENT--------------------------*/
.main_content{
    height: 2245px;
}

.main_content_top{
    width: 1181px;
    height: 251px;
    margin: 0 auto;
}

.main_content_top h2{
    text-align: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    font-family: var(--type-font);
}

.main_content_top p{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #333333;
    font-family: var(--type-font);
}

/*----------------------------MAIN CONTENT ONE--------------------------*/

.main_content_one{
    display: flex;
    justify-content: space-between;
    height: 643px;
    position: relative;
    
}

.content_one_left-img{
    width: 360px;
    height: 380px;
    background-image: url(../img/point_bg.png);
    position: absolute;
    left: 250px;
    top: 0px;
}

.one_left-text{
    width: 530px;
    height: 125px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: #076572;
    /* position: relative;
    top: -140px;
    left: 60px; */
}

.one_left-more{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    /* position: relative;
    top: -80px;
    left: 60px; */
}
.one_left-more img{
    position: relative;
    width: 22px;
    height: 20px;
    top: 3px;

}

.content_one_right img[src="../pageLanding/img/crypto_hand.png"]{
    /* position: relative;
    top: 100px;
    left: 30px; */
}
.content_one_right img[src="../pageLanding/img/coins.png"]{
    /* position: relative;
    top: 240px;
    left: -70px; */
}

/*----------------------------------------------FOOTER---------------------------------------------*/
footer{
    height: 223px;
    background: #30292F;
}

.footer_box{
    width: 1202px;
    height: 159px;
    margin: 0 auto;
    padding-top: 62px;
    
}
.footer_box_top{
    height: 90px;
    border-bottom: 1px solid rgba(218, 218, 218, 0.43);
}

.box_top_contact a{
    display: block;
    font-family: Avenir;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.footer_box_top p{
    font-family: Avenir;
    width: 345px;
    height: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
